body,nav
  background var(--b)
  color  var(--w)
header
  #back a,#nav label
    color var(--b)
    background var(--w)
    &:hover
      background var(--y)
      color var(--b)
main a
  font-weight bold
  padding .6rem
  color var(--b)
  background var(--w)
  &:hover
    background var(--y)
    color var(--b)
#nav li+li
  border-top solid .3rem var(--w)