main
  a
    background var(--b)
    color var(--w)
    margin-bottom 1rem
    padding .6rem
    p
      margin-bottom 0
    &:hover
      background var(--y)
      color var(--b)
  h2
    margin-top 0
    margin-bottom .5rem