#SubTitle
  font-size 2rem
  font-weight bold
  text-transform: capitalize;
.gallery
  column-count: 6;
  column-fill: auto;
  @media (max-width: 800px)
    column-count: 4;
    column-fill: auto;
  img
    width 100%
    height auto
    padding .5rem 0
    transition opacity .3s
    will-change opacity
    cursor: zoom-in;
    &:hover
      opacity .7