body
  background #000
  color #fff
#bg
  position fixed
  top 50%
  left 50%
  transform: translate(-50%, -50%);
  width: 177.777777778vh;
  height: 100vh;
  @media ( min-aspect-ratio: 16/9 )
    width: 100vw;
    height: 56.25vw;
  // z-index -9999
  opacity .5
  pointer-events none
  filter: blur(12px);
  