<!doctype html>
<html>
<head>
  {{ partial "head.html" . }}
  <link rel="stylesheet" href="/single.min.css?20210218">
  <script async src=/lb.min.js></script>
</head>
<body>
  {{ partial "header.html" . }}
  <main>
    <span id=SubTitle>{{ .Section }}</span><time>{{ .Date.Format "2006.01.02" }}</time>
    <h1>{{ .Title }}</h1>
    {{ .Content }} 
  </main>
  <picture id=lightbox class=close onclick=lbClose()>
    <source type=image/webp alt=lightbox id=lightbox-webp>
    <img alt=lightbox id=lightbox-jpeg>
    <figcaption id=lightbox-figcaption></figcaption>
  </picture>
  <div id="Top"></div>
  <div id="Bottom"></div>
  {{ if .Params.mainAfter }}
    {{ .Params.mainAfter | safeHTML }}
  {{ end }}
  {{ partial "footer.html" . }}
</body>
{{ partial "jsonld.html" . }}
</html>