<!doctype html>
<html>
<head>
  {{ partial "head.html" . }}
  <link rel="stylesheet" href="/single.min.css?20210203">
  <script async src=/lb.min.js></script>
</head>
<body>
  <header>
    <a href="/works" id=back>
      < Back
    </a>
    <a href="/" id=logo>
      {{ if .IsHome }}
        <h1>{{.Site.Title}}</h1>
      {{ else }}
        {{.Site.Title}}
      {{ end }}
    </a>
    <nav>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/works/">Works</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
    </nav>
  </header>
  <main>
    <span id=SubTitle>{{ .Section }}</span>
    <h1>{{ .Title }}</h1>
    {{ .Content }} 
  </main>
  <picture id=lightbox class=close onclick=lbClose()>
    <source type=image/webp alt=lightbox id=lightbox-webp>
    <img alt=lightbox id=lightbox-jpeg>
    <figcaption id=lightbox-figcaption></figcaption>
  </picture>
  <div id="Top"></div>
  <div id="Bottom"></div>
  {{ if .Params.mainAfter }}
    {{ .Params.mainAfter | safeHTML }}
  {{ end }}
  {{ partial "footer.html" . }}
</body>
</html>