<header>
  <a href="{{ path.Dir .RelPermalink }}" id=back>
    {{ if not .IsHome }}
    < Back
    {{ end }}
  </a>
  <a href="/" id=logo>
    {{ if .IsHome }}
      <h1>{{.Site.Title}}</h1>
    {{ else }}
      {{.Site.Title}}
    {{ end }}
  </a>
  <nav>
    <ul>
      {{ if .Site.IsServer }}
        <li><a href="/about.html">About</a></li>
        <li><a href="/works.html">Works</a></li>
        <li><a href="/gallery.html">Gallery</a></li>
        <li><a href="/contact.html">Contact</a></li>
      {{ else }}
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      {{ end }}
    </ul>
  </nav>
</header>