<header>
  <section id="back">
    {{ if .IsHome }}
    <ul class=sns>
      <li>
        <a href="https://twitter.com/yellow_mug3" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://fb.me/yellowmug2021" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/yellowmug2021" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    {{ else }}
      <a href="{{ path.Dir .RelPermalink }}">
        < BACK
      </a>
    {{ end }}
  </section>
  <a href="/" id=logo>
    {{ if .IsHome }}
      <h1>{{.Site.Title}}</h1>
    {{ else }}
      <span>{{.Site.Title}}</span>
    {{ end }}
  </a>
  <section>
    <input type="checkbox" id=menu>
    <label for=menu></label>
    <nav>
      <ul id=nav>
        {{ if .Site.IsServer }}
          <li><a href="/"><small>トップ</small>Top</a></li>
          <li><a href="/about.html"><small>YellowMugについて</small>About</a></li>
          <li><a href="/news.html"><small>ニュース</small>News</a></li>
          <li><a href="/blog.html"><small>ブログ</small>Blog</a></li>
          <li><a href="/works.html"><small>作品</small>Works</a></li>
          <li><a href="/gallery.html"><small>ギャラリー</small>Gallery</a></li>
          <li><a href="/contact.html"><small>お問い合わせ</small>Contact</a></li>
        {{ else }}
          <li><a href="/">Top</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contact">Contact</a></li>
        {{ end }}
      </ul>
      <ul class=sns>
        <li>
          <a href="https://twitter.com/yellow_mug3" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://fb.me/yellowmug2021" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/yellowmug2021" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://note.com/yellow_mug" target="_blank" rel="noopener noreferrer">
            <i class="far fa-sticky-note"></i>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</header>