<script type=application/ld+json>
    {
        "@context" : "http://schema.org",
        "@type" : "Article",
        {{ if .IsHome }}
            "headline" : "{{ .Site.Title }}",
        {{ else }}
            "headline" : "{{ .Title }}｜{{ .Site.Title }}",
        {{ end }}
        "description": "武蔵野美術大学クリエイティブイノベーション学科の田辺麻鈴と田村義希によって結成されたアートユニット、Yellow Mug! 私たちの「クリエイティブ」をみんなにも楽しんでほしい！",
        "image": [
          "{{ .Site.BaseURL | safeURL  }}logo.jpg"
        ],
        "publisher" : {
            "@type" : "Organization",
            "name" : "YellowMug",
            "logo" : {
                "@type" : "ImageObject",
                "url" : "{{ .Site.BaseURL | safeURL  }}ogp/ogp.jpg",
                "height" : 300,
                "width" : 400
            }
        },
        "author" : {
            "@type" : "Person",
            "name" : "2001Y"
        },
        "mainEntityOfPage": "{{ .Site.BaseURL | safeURL  }}"
    }
    </script>
    <script type=application/ld+json>
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "{{ .Site.BaseURL | safeURL   }}",
      "logo": "{{ .Site.BaseURL | safeURL  }}logo.jpg"
    }
    </script>