body,
nav {
  background: var(--b);
  color: var(--w);
}

main a {
  font-weight: bold;
  padding: 0.6rem;
  color: var(--b);
  background: var(--w);
}

main a:hover {
  background: var(--y);
  color: var(--b);
}

#nav li+li {
  border-top: solid 0.3rem var(--w);
}

.sns a {
  color: var(--b);
  background: var(--w);
}

@media (max-width: 1500px) {
  header #back a,
  header #menu+label {
    color: var(--b);
    background: var(--w);
  }
}