main a {
  background: var(--b);
  color: var(--w);
  margin-bottom: 1rem;
  padding: 0.6rem;
}

main a p {
  margin-bottom: 0;
}

main a:hover {
  background: var(--y);
  color: var(--b);
}

main h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}