#SubTitle {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

time {
  font-size: 1em;
}

time:before {
  content: "・";
}

.gallery {
  -moz-column-count: 6;
       column-count: 6;
  -moz-column-fill: auto;
       column-fill: auto;
}

.gallery img {
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  transition: opacity 0.3s;
  will-change: opacity;
  cursor: zoom-in;
}

.gallery img:hover {
  opacity: 0.7;
}

main p img {
  max-height: 50vh;
  height: auto;
  max-width: 80%;
  width: auto;
}

main a {
  border-bottom: solid 1px var(--b);
}

main a:hover {
  border-bottom: solid 1px var(--y);
}

@media (max-width: 800px) {
  .gallery {
    -moz-column-count: 4;
         column-count: 4;
    -moz-column-fill: auto;
         column-fill: auto;
  }
}